<!DOCTYPE html>
<html>
<head>
<style>
th {text-align: right;}
</style>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>

<title>Backstage Code Challenge</title>
</head>
<body>
{% block body %}
{% endblock body %}
</body>
</html>
