{% extends "base.html" %}

{% block body %}
<div style="margin: 100px;">
<form id="squares_difference_form">
Enter a number to calculate the difference of squares:
<input type="number" step="1" min="1" max="100" id="squares_difference_input" required>
<br><br>
<input type="submit" value="Submit" id="submit_squares_difference" />
</form>

<div id="results" style="display: none; margin-top: 60px;">
Here are your results:<br>
<table id="results_table">
  <tr><th>time:</th><td id="time_output"></td></tr>
  <tr><th>value:</th><td id="value_output"></td></tr>
  <tr><th>number:</th><td id="number_output"></td></tr>
  <tr><th>occurrences:</th><td id="occurrences_output"></td></tr>
</table>
</div>
</div>
<script>
$(document).ready(function() {
    $("#squares_difference_form").submit(function(e) {
    	e.preventDefault();
        let url = "/calculate/squares_difference/?n=" + $("#squares_difference_input").val();
        $.get( url, function( data ) {
        	document.getElementById("results").style.display = "block";
        	let time_output = new Date(data.datetime);
        	$("#time_output").html(time_output);
        	$("#value_output").html(data.value);
        	$("#number_output").html(data.number);
        	$("#occurrences_output").html(data.occurrences);
		});
    }); 
});
</script>
{% endblock body %}
